.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Profile{
    display:flex;
    justify-content: space-around;
    padding-left: 20px;
   
}
#one{
    padding-left: 15px;
}
#two{
    padding-right: 20px;
}


@media screen and (max-width: 1200px) {
    
   
   #two{
    
        padding-right: 20%;
    }
    #three{
    
        margin-right:80%;
    }

   }
   
  
