
.Profile{
   
   display: flex;
   justify-content: space-between;
   
}
.class{
    width: 100px;
}
#one{
    padding-left: 15px;
}
#two{
    padding-right: 20px;
}
.shop{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {

.class{
    width: 500px;
}
.cla{
   width: 300px;;
    align-items: center;
}
#ma{
    width: 100px;;
    height:100%;
    padding-right:2cm;
   
}

#mb{
    width:10%;
    height:1vh;
    padding-left: 1cm;
  
}

#mc{
    width:10%;
    height:100%;
   
}


}